.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header header" 
                       "content content content"  
                       "footer footer footer";
  gap: 20px;
  padding: 0;
  margin-bottom: 20px;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.content-grid {
.content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  gap: 20px;
  padding: 0 20px;
  width: 100%;
}
}

.grid-item {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 0 0 33.33%;
  scroll-snap-align: center;
}
.block-element {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
 .block-element img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding-bottom: 20px;
}
.header {
  grid-area: header;
  background-color: #07ccb2;
  color: #f7f8f8;
  padding: 20px 0;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.main-content {
  grid-area: content;
  width: 100%;
}

button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #080808;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  animation: pulse 1s infinite;
}
button:hover  {
  background-color: rgb(93, 95, 93);
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.footer {
  grid-area: footer;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
.footer ul {
  list-style-type: none;
  padding: 0;
}
.footer li {
  display: inline;
  margin: 0 10px;
}
.footer a {
  color: white;
  text-decoration: none;
}
.center-text {
  text-align: center;
}
.animate__animated.animate__fadeInLeftBig {
  --animate-duration: 4s;
  animation-iteration-count: infinite;
}